{{$ticker := .Ticker}}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Price history</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
      </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-sm">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/deal">Create deal</a>
              <a class="nav-link" href="/positions">My positions</a>
              <a class="nav-link active" aria-current="page" href="/history">Price history</a>
            </div>
          </div>
          <div class="ml-auto p-2">
            <a class="nav-link" href="/logout">Logout</a>
        </div>
        </div>
      </nav>
<div class="container-sm">
<div>
    <ul class="nav nav-tabs">
        {{range .TickerTabs}}
        <li class="nav-item">
            {{if eq . $ticker}}
            <a class="nav-link active" aria-current="page" href="/history?ticker={{.}}">{{.}}</a>
            {{else}}
            <a class="nav-link" href="/history?ticker={{.}}">{{.}}</a>
            {{end}}
          </li>
        {{end}}
      </ul>
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">Timestamp</th>
            <th scope="col">Open</th>
            <th scope="col">High</th>
            <th scope="col">Low</th>
            <th scope="col">Close</th>
            <th scope="col">Volume</th>
        </tr>
    </thead>
    <tbody>
        {{range .Items}}
        <tr>
            <th scope="row">{{.Time}}</th>
            <td>{{.Open}}</td>
            <td>{{.High}}</td>
            <td>{{.Low}}</td>
            <td>{{.Close}}</td>
            <td>{{.Volume}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>